{% extends 'navbar.html' %}

{% block title %}Browse Job Postings{% endblock %}

{% block content %}
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='applicant_dashboard.css') }}">


<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <h3>Applications</h3>
                <p>View your Job Applications</p>
                <a href="/rec_view_applications">Go to applications</a>
            </div>
        </div>
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
</div>

{% endblock %}

